/target/
.settings
.classpath
.project
.src/main/webapp/.DS_Store
.idea
!.idea/codeStyles/intellij-java-google-style.xml
.vscode/*
!.vscode/snippets.code-snippets
/bin
mopat_debugfile.log
mopat_errors.log
mopat_logfile.log
mopat_warnings.log
MoPat.iml
data
selenium/driver
selenium/logs
selenium/*/__pycache__/
selenium/.wdm
selenium/test_results
*_secrets.json
*_test-results.log


src/main/resources/less/mobile/includes
src/main/resources/less/admin/includes
