<!--/*
    * View that show all available questions    
*/-->
<th:block
	layout:decorate="~{layout/main}"
	th:with="title=${messages.get(#locale, 'question.heading.title', 'Questions')} +
            '&nbsp;' + '&ldquo;' +
            ${questionnaire.name} + '&rdquo;'" 
>
	<th:block layout:fragment="content">
		<div class="panel-body">
			<div
				id="notification"
				class="alert"
			></div>
			<th:block th:if="not ${#strings.isEmpty(errorMessages)}">
				<div
					id="errors"
					class="alert alert-danger"
				>
					<th:block th:each="errorMessage: ${errorMessages}">
						<th:block th:text="${errorMessage}" /><br />
					</th:block>
				</div>
			</th:block>
			<th:block th:if="not ${#strings.isEmpty(errorQuestions)}">
				<div
					id="errorQuestions"
					class="alert alert-danger"
				>
					<th:block th:text="#{question.error.isConditionTarget}" /><br />
					<th:block th:each="errorQuestion: ${errorQuestions}">
						<th:block th:text="|${errorQuestion.position}.|" />
						<th:block
							layout:insert="~{helper/var :: add(key='groupedLocalizedTextByCountries', 
                                                    value=${localizedQuestionTextsForQuestion[errorQuestion.id]})}"
						/>
						<a
							class="link"
							th:href="@{condition/listQuestionConditions?questionId=__${errorQuestion.id}__}"
						>
							<th:block
								layout:insert="~{helper/localeHelper/showLocalizedTextGroupedByCountry}"
							></th:block>
						</a>
						<br />
					</th:block>
				</div>
			</th:block>
		</div>

		<div class="table-responsive">
			<table
				id="questionTable"
				class="sortable table table-hover responsive"
				style="width: 100%"
			>
				<thead>
					<tr>
						<th 
							data-priority="1"
							th:text="|&nbsp;|"
						></th>
						<th
							data-priority="7"
							th:text="${messages.get(#locale, 'question.table.position', 'Position')}"
						></th>
						<th
							data-priority="3"
							th:text="${messages.get(#locale, 'question.table.question', 'Question')}"
						></th>
						<th
							data-priority="2"
							th:text="${messages.get(#locale, 'question.label.questiontype', 'Question Type')}"
						></th>
						<th
							data-priority="5"
							style="text-align: center"
							th:text="${messages.get(#locale, 'question.label.enabled', 'Question Enabled')}"
						></th>
						<th
							data-priority="6"
							style="text-align: center"
							th:text="${messages.get(#locale, 'question.label.required', 'Required')}"
						></th>
						<th
							data-priority="4"
							class="actionColumn"
							th:text="${messages.get(#locale, 'admin.table.actions', 'Actions')}"
						></th>
					</tr>
				</thead>
				<tbody>
					<tr
						id="emptyRow"
						style="display: none"
					>
						<td colspan="100%" class="text-center">
							<th:block
								th:text="${messages.get(#locale, 'questionnaire.questions.none', 'There are no questions within this questionnaire')}"
							/>
						</td>
					</tr>
					<th:block th:each="item, questionCounter: ${questionnaire.questions}">
						<tr th:id="${item.id}" th:data-question-type="${item.questionType.name}">
							<td>
								<i th:id="|grip-${item.id}|" class="bi bi-large bi-grip-vertical bi-action"></i>
							</td>
							<td>
								<th:block th:text="|${item.position}.|" />
							</td>
							<td style="text-align: left">
								<th:block
									layout:insert="~{helper/var :: add(key='groupedLocalizedTextByCountries', 
                                                    value=${localizedQuestionTextsForQuestion[item.id]})}"
								/>
								<a
									class="link"
									th:href="@{fill?id=__${item.id}__}"
								>
									<th:block
										layout:insert="~{helper/localeHelper/showLocalizedTextGroupedByCountry}"
									></th:block>
								</a>
							</td>
							<td style="text-align: left">
								<th:block
									th:text="${messages.get(#locale, '__${item.questionType}__', 'Missing question type')}"
								/>
							</td>
							<td style="text-align: center">
								<th:block th:if="${item.isEnabled == true}">
									<a class="link">
										<i
											class="bi-check-circle-fill"
											th:title="${messages.get(#locale, 'question.label.enabled', 'Edit')}"
										></i>
									</a>
								</th:block>
								<th:block th:unless="${item.isEnabled == true}">
									<a class="link">
										<i
											class="bi-x-circle-fill"
											th:title="${messages.get(#locale, 'question.label.notEnabled', 'Edit')}"
										></i>
									</a>
								</th:block>
							</td>
							<td style="text-align: center">
								<th:block th:if="${item.isRequired == true}">
									<a class="link">
										<i
											class="bi-check-circle-fill"
											th:title="${messages.get(#locale, 'question.label.required', 'Edit')}"
										></i>
									</a>
								</th:block>
								<th:block th:unless="${item.isRequired == true}">
									<a class="link">
										<i
											class="bi-x-circle-fill"
											th:title="${messages.get(#locale, 'question.label.notRequired', 'Edit')}"
										></i>
									</a>
								</th:block>
							</td>
							<td class="actionColumn">
								<!--/* Action column for desktop view */-->
								<div class="d-none d-xl-block">
                                    <div class="btn-group" role="group">
                                        <a
                                            class="btn btn-sm btn-primary-list link"
                                            th:href="@{fill?id=__${item.id}__}"
                                        >
                                            <i
                                                class="bi-pencil-fill bi-list-icon"
                                                th:title="${messages.get(#locale, 'question.button.edit', 'Edit')}"
                                            ></i>
                                        </a>
                                        <a
                                            class="btn btn-sm btn-primary-list link"
                                            th:href="@{duplicate?id=__${item.id}__&questionnaireId=__${questionnaire.id}__}"
                                        >
                                            <i
                                                class="bi-clipboard-plus-fill bi-list-icon"
                                                th:title="${messages.get(#locale, 'question.button.dublicateAppend', 'Duplicate and Append')}"
                                            ></i>
                                        </a>

                                        <addVar
                                            layout:replace="~{helper/var :: add(
                                            key='questionConditionable',
                                            value=false)}"
                                        >
                                        </addVar>
                                        <th:block
                                            th:if="${item.position eq questionnaire.questions.size()}"
                                        >
                                            <th:block
                                                th:each="bundleQuestionnaire: ${questionnaire.bundleQuestionnaires}"
                                            >
                                                <th:block
                                                    th:each="comparedBundleQuestionnaire: ${bundleQuestionnaire.bundle.bundleQuestionnaires}"
                                                >
                                                    <th:block
                                                        th:if="${comparedBundleQuestionnaire.position > bundleQuestionnaire.position}"
                                                    >
                                                        <addVar
                                                            layout:replace="~{helper/var :: add(
                                                            key='questionConditionable',
                                                            value=true)}"
                                                        >
                                                        </addVar>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </th:block>
										<th:block>
											<a
												class="btn btn-sm btn-primary-list link condition-button"
												th:attr="aria-disabled=${!(item.questionType.name == 'MULTIPLE_CHOICE' or
														item.questionType.name == 'SLIDER' or
														item.questionType.name == 'NUMBER_CHECKBOX' or
														item.questionType.name == 'NUMBER_INPUT' or
														item.questionType.name == 'DROP_DOWN')}"
												th:classappend="${!(item.questionType.name == 'MULTIPLE_CHOICE' or
														item.questionType.name == 'SLIDER' or
														item.questionType.name == 'NUMBER_CHECKBOX' or
														item.questionType.name == 'NUMBER_INPUT' or
														item.questionType.name == 'DROP_DOWN') or
														item.position == questionnaire.questions.size()} ? ' btn-crossed' : ''"
												th:data-question-id="${item.id}"
												th:href="@{/condition/listQuestionConditions?questionId=__${item.id}__}"
											>
												<i
													class="bi-signpost-split-fill bi-list-icon"
													th:title="${messages.get(#locale, 'questionnaire.button.editConditions', 'Edit conditions')}"
												></i>
											</a>
										</th:block>
                                        <a
                                            class="btn btn-sm btn-primary-list link btn-red"
                                            th:href="@{remove?id=__${item.id}__}"
                                            th:onclick="|return confirm_delete(${item.isDeletable()}, ${item.hasExportRule()}, ${item.hasConditionsAsTrigger()}, ${item.hasConditionsAsTarget()}, ${item.hasScores()});|"
                                        >
                                            <i
                                                class="bi-trash-fill bi-list-icon"
                                                th:title="${messages.get(#locale, 'question.button.remove', 'Remove')}"
                                            ></i>
                                        </a>
                                    </div>
								</div>
								<!--/* Mobile action menu for smaller resolutions */-->
								<div class="d-block d-xl-none">
									<a
										class="link"
										data-bs-toggle="offcanvas"
										th:href="|#${item.id}_offcanvas|"
										><i
											class="bi bi-three-dots"
											style="font-size: 1.5rem"
										></i
									></a>
									<!--/* Add the question title for the current locale to the variable scope. Shows Question position + type if not available */-->
									<addVar
										layout:replace="~{helper/var :: add(
                                        key='currentQuestionForLocale', 
                                        value=${vars['groupedLocalizedTextByCountries']?.get(#locale.country)?.get('__${vars['groupedLocalizedTextByCountries']?.get(#locale.country)?.keySet()?.iterator()?.next()}__')} 
                                                ?: |${messages.get(#locale, 'condition.option.question', 'Question')}: ${item.position} (${messages.get(#locale, '__${item.questionType}__', '__${item.questionType}__')})|
                                    )}"
									>
									</addVar>
									<th:block
										layout:insert="~{fragments/structures :: mobileOptionsMenu(
                                                                itemName=|${vars['currentQuestionForLocale']}|, 
                                                                id=|${item.id}_offcanvas|)}"
									>
										<th:block layout:fragment="optionsContent">
											<a
												class="link"
												th:href="@{fill?id=__${item.id}__}"
												th:text="${messages.get(#locale, 'question.button.edit', 'Edit')}"
											>
											</a>
											<a
												class="link"
												th:href="@{duplicate?id=__${item.id}__&questionnaireId=__${questionnaire.id}__}"
												th:text="${messages.get(#locale, 'question.button.dublicateAppend', 'Duplicate and Append')}"
											>
											</a>

											<addVar
												layout:replace="~{helper/var :: add(
                                                key='questionConditionable', 
                                                value=false)}"
											>
											</addVar>
											<th:block
												th:if="${item.position eq questionnaire.questions.size()}"
											>
												<th:block
													th:each="bundleQuestionnaire: ${questionnaire.bundleQuestionnaires}"
												>
													<th:block
														th:each="comparedBundleQuestionnaire: ${bundleQuestionnaire.bundle.bundleQuestionnaires}"
													>
														<th:block
															th:if="${comparedBundleQuestionnaire.position > bundleQuestionnaire.position}"
														>
															<addVar
																layout:replace="~{helper/var :: add(
                                                                key='questionConditionable', 
                                                                value=true)}"
															>
															</addVar>
														</th:block>
													</th:block>
												</th:block>
											</th:block>

												<a
													th:if="${item.questionType.name == 'MULTIPLE_CHOICE' or
                                                    item.questionType.name == 'SLIDER' or 
                                                    item.questionType.name  == 'NUMBER_CHECKBOX' or 
                                                    item.questionType.name == 'NUMBER_INPUT' or 
                                                    item.questionType.name == 'DROP_DOWN'}"
													class="link"
													th:href="@{/condition/listQuestionConditions?questionId=__${item.id}__}"
													th:text="${messages.get(#locale, 'questionnaire.button.editConditions', 'Edit conditions')}"
													th:style="${item.position == questionnaire.questions.size() ? 'display: none;' : ''}"
												>
												</a>

											<a
												class="link"
												th:href="@{remove?id=__${item.id}__}"
												th:onclick="|return confirm_delete(${item.isDeletable()}, ${item.hasExportRule()}, ${item.hasConditionsAsTrigger()}, ${item.hasConditionsAsTarget()}, ${item.hasScores()});|"
												th:text="${messages.get(#locale, 'question.button.remove', 'Remove')}"
											>
											</a>
										</th:block>
									</th:block>
								</div>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<div class="panel-body">
				<form
					th:object="${question}"
					method="POST"
					action="fill"
				>
					<input
						name="questionnaireId"
						id="questionnaireId"
						th:value="${questionnaire.id}"
						type="hidden"
					/>
					<button
						type="submit"
						class="btn btn-primary"
						id="addQuestion"
						th:text="${messages.get(#locale, 'question.button.addQuestion', 'Add question')}"
					></button>
				</form>
			</div>
		</div>
	</th:block>
</th:block>

<th:block layout:fragment="scriptContainer">
	<!--/* [bt] TODO move JavaScript to another file, maybe even central */-->
	<script
		th:inline="javascript"
		type="text/javascript"
	>
	document.addEventListener("DOMContentLoaded", function () {
		const notification = document.getElementById("notification");
		const sortableTable = document.querySelector(".sortable tbody");
		const emptyRow = document.querySelector("tr#emptyRow");
		const questionnaireId = /*[[${questionnaire.id}]]*/ "";
		let originalOrder = [];

		// Localised messages for reposition & delete
		const messages = {
			repositionSuccess: /*[[#{questionnaire.questions.reposition.success}]]*/ "Questions successfully repositioned.",
			repositionError: /*[[#{questionnaire.questions.reposition.error}]]*/ "Error! Questions could not be repositioned."
		};

		const labels = {
			deleteNotPossible: /*[[#{question.label.deleteQuestionNotPossible}]]*/ "Question cannot be deleted because it is already answered in a survey.",
			deleteWarningStart: /*[[#{question.label.deleteQuestionWarningStart}]]*/ "The removal of the question will also delete the following:",
			deleteWarningConditions: /*[[#{question.label.changeQuestionTypeWarningConditions}]]*/ "Conditions",
			deleteWarningExportRules: /*[[#{question.label.changeQuestionTypeWarningExportRules}]]*/ "Export rules",
			deleteWarningScores: /*[[#{question.label.changeQuestionTypeWarningScores}]]*/ "Scores",
			deleteWarningEnd: /*[[#{question.label.changeQuestionTypeWarningEnd}]]*/ "Do you really want to continue?"
		};

		new Sortable(sortableTable, {
			items: "tr:not(:first)",
			animation:150,
			easing: "cubic-bezier(1, 0, 0, 1)",
			handle: ".bi-grip-vertical",
			filter: ".notDraggable",
			onStart: saveOriginalOrder,
			onEnd: updateQuestionOrder
		});

		if (notification) notification.style.display = "none";
		toggleEmptyRow();

		function showMessage(message, isError) {
			if (!notification) return;
			notification.textContent = message;
			notification.classList.remove("alert-success", "alert-danger");
			notification.classList.add(isError ? "alert-danger" : "alert-success");
			notification.style.display = "block";
			$("#notification").stop().fadeOut(0).fadeIn(0).fadeOut(5000);
		}
		/*[- 
        --- called if question should be deleted
        --- warns about appended conditions and export rules      
        --- with a custom made message
        -]*/
		window.confirm_delete = function (isDeletable, hasExportRule, hasConditionsAsTrigger, hasConditionsAsTarget, hasScores) {
			if (!isDeletable) {
				alert(labels.deleteNotPossible);
				return false;
			}
			if (
				hasExportRule ||
				hasConditionsAsTrigger ||
				hasConditionsAsTarget ||
				hasScores
			) {
				var message = labels.deleteWarningStart + "\n\n";
				if (hasConditionsAsTrigger || hasConditionsAsTarget) {
					message += "\u2022 " + labels.deleteWarningConditions + "\n";
				}
				if (hasExportRule) {
					message += "\u2022 " + labels.deleteWarningExportRules + "\n";
				}
				if (hasScores) {
					message += "\u2022 " + labels.deleteWarningScores + "\n";
				}
				message += "\n" + labels.deleteWarningEnd;
				return confirm(message);
			}
			return true;
		}

		function toggleEmptyRow() {
			if (!emptyRow) return;
			emptyRow.style.display = sortableTable.children.length > 1 ? "none" : "table-row";
		}

		function saveOriginalOrder() {
			originalOrder = Array.from(sortableTable.querySelectorAll("tr:not(:first-child)"))
				.map(row => row.id);
		}

		function restoreOriginalOrder() {
			const rows = Array.from(sortableTable.children);
			originalOrder.forEach((id) => {
				const row = rows.find(r => r.id === id);
				if (row) sortableTable.appendChild(row);
			});
		}

		function updateQuestionOrder() {
			const orderedQuestionIds = Array.from(sortableTable.querySelectorAll("tr:not(:first-child)"))
				.map(row => row.id);

			fetch("reposition", {
				method: "POST",
				headers: { "Content-Type": "application/x-www-form-urlencoded" },
				body: `questionnaireId=${questionnaireId}&questionIds=${orderedQuestionIds.join(",")}`
			})
			.then(response => response.text())
			.then(data => {
				if (!data) {
					orderedQuestionIds.forEach((id, index) => {
						document.getElementById(id).children[1].textContent = `${index + 1}.`;
					});
					showMessage(messages.repositionSuccess, false);
					updateConditionButtons();
				} else {
					showMessage(data, true);
					restoreOriginalOrder();
				}
			})
			.catch(() => {
				showMessage(messages.repositionError, true);
				restoreOriginalOrder();
			});
		}

		function updateConditionButtons() {
			const rows = document.querySelectorAll(".sortable tbody tr:not(#emptyRow)");
			if (rows.length === 0) return;

			const lastQuestionRow = rows[rows.length - 1];

			document.querySelectorAll(".condition-button").forEach(button => {
				let questionId = button.getAttribute("data-question-id");
				let questionRow = document.getElementById(questionId);

				if (questionRow === lastQuestionRow && isConditionable(questionRow)) {
					button.style.display = "none";
				} else {
					button.style.display = "inline";
				}
			});
		}

		function isConditionable(questionRow) {
			const questionType = questionRow.getAttribute("data-question-type");
			return ["MULTIPLE_CHOICE", "SLIDER", "NUMBER_CHECKBOX", "NUMBER_INPUT", "DROP_DOWN"].includes(questionType);
		}
	});
	</script>
</th:block>
