<!--/*
    * Adds 'defaultLocalizedText' value to var Holder    
*/-->
<!--/* Make variables visible for Thymeleaf in the current Template (vars['']) */-->
<th:block
	layout:insert="~{helper/var :: add(key='currentLanguage', value=${#locale.toString()})}"
/>
<th:block
	layout:insert="~{helper/var :: add(key='defaultLocalizedText', value=${vars['localizedMap'][vars['currentLanguage']]})}"
/>

<th:block th:if="${#strings.isEmpty(vars['defaultLocalizedText'])}">
	<th:block
		layout:insert="~{helper/var :: add(key='locale', value=${vars['currentLanguage']})}"
	/>
	<th:block th:if="${#strings.contains(vars['currentLanguage'], '_')}">
		<!--/* Split the current language by '_' and take the first part. I.e. de_DE -> de */-->
		<th:block
			layout:insert="~{helper/var :: add(key='locale', value=${#strings.arraySplit(vars['currentLanguage'], '_')[0]})}"
		/>
	</th:block>
	<th:block
		layout:insert="~{helper/var :: add(key='defaultLocalizedText', value=${vars['localizedMap'][vars['locale']]})}"
	/>
	<th:block th:if="${#strings.isEmpty(vars['defaultLocalizedText'])}">
		<th:block th:each="localizedText, count: ${vars['localizedMap']}">
			<th:block th:if="${count.index == 0}">
				<th:block
					layout:insert="~{helper/var :: add(key='defaultLocalizedText', value=${vars['localizedMap'][localizedText.key]})}"
				/>
			</th:block>
		</th:block>
	</th:block>
</th:block>
