<!--/*
    * View to reset password. 
*/-->
<th:block
	layout:decorate="~{layout/mobileUser}"
	th:with="contenttype='centeredContent', isLogin='true'"
>
	<th:block layout:fragment="content">
		<div class="text-center">
			<img
				class="mb-1 img-fluid mopatImage"
				th:attr="src=@{/images/logo.svg}"
			/>
		</div>
		<div class="login">
			<form
				method="post"
				action="password"
				data-ajax="false"
			>
				<div class="d-grid gap-2">
					<input
						class="form-control"
						index="1"
						name="username"
						id="username"
						autocomplete="off"
						autocorrect="off"
						autocapitalize="off"
						spellcheck="false"
						data-inline="true"
						type="text"
						th:placeholder="${messages.get(#locale, 'user.label.username', 'Username')}"
						th:value="${session.LAST_USERNAME}"
					/>

					<th:block
						th:if="${not #strings.isEmpty(error)}"
						th:text="|${error}.|"
					/>
					<a
						class="btn-link mobile-link"
						index="2"
						data-ajax="true"
						onclick="initLogin();"
						th:href="@{/mobile/user/login}"
						th:text="${messages.get(#locale, 'user.label.loginPage', 'Login page')}"
					>
					</a>

					<button
						class="btn btn-mobile"
						index="3"
						type="submit"
						th:text="${messages.get(#locale, 'user.button.requestPassword', 'Request password')}"
					>
					</button>
				</div>
			</form>
		</div>
	</th:block>
</th:block>

<th:block layout:fragment="scriptContainer">
	<script type="text/javascript">
		$(document).bind("pagechange", function () {
			initHeader();
		});
	</script>
</th:block>
