<!--/*
    * View that shows if a password reset link is clicked    
*/-->
<th:block
	layout:decorate="~{layout/mobileUser}"
	th:with="contenttype='centeredContent', isLogin='true'"
>
	<th:block layout:fragment="content">
		<div class="text-center">
			<img
				class="mb-1 img-fluid mopatImage"
				th:attr="src=@{/images/logo.svg}"
			/>
		</div>

		<div class="login">
			<form
				name="user"
				enctype="application/x-www-form-urlencoded"
				method="POST"
				action="passwordreset"
				data-ajax="false"
			>
				<div class="d-grid gap-2">
					<input
						type="hidden"
						name="token"
						th:value="${token}"
					/>
					<div class="form-group">
						<label
							for="username"
							id="usernameLabel"
							th:text="${messages.get(#locale, 'user.label.username', 'Username')}"
						></label>
						<th:block th:text="${user.getUsername()}" />
					</div>
					<input
						type="password"
						class="form-control"
						id="newPassword"
						name="newPassword"
						th:placeholder="${messages.get(#locale, 'user.label.newPassword', 'New password')}"
					/>
					<th:block th:if="${not #strings.isEmpty(error)}">
						<div class="form-group">
							<label></label>
							<span
								style="color: red"
								th:text="|${error}.|"
							></span>
						</div>
					</th:block>
					<input
						type="password"
						class="form-control"
						id="newPasswordApprove"
						name="newPasswordApprove"
						th:placeholder="${messages.get(#locale, 'user.label.newPasswordApprove', 'Enter new password again')}"
					/>
					<button
						class="btn btn-highlight btn-mobile"
						type="submit"
						value="reset"
						id="resetButton"
						name="action"
						th:text="${messages.get(#locale, 'user.button.resetPassword', 'Reset password')}"
					>
					</button>
				</div>
			</form>
		</div>
	</th:block>
</th:block>

<th:block layout:fragment="scriptContainer">
	<script type="text/javascript">
		$("#closeDialog").remove();
	</script>
</th:block>
