<!--/*
    * View that shows all planned encounters    
*/-->
<th:block
	layout:decorate="~{layout/main}"
	th:with="title=${messages.get(#locale, 'encounter.heading.title', 'Existing encounters')}"
>
	<th:block layout:fragment="content">
		<th:block th:if="${success != null}">
			<div
				class="alert alert-success d-flex flex-column"
				id="notification"
			>
                <span th:text="${success}"></span>
                <br/>
					<th:block
						th:text="${messages.get(#locale, 'encounterScheduled.label.shouldQrCodeBePrinted', 'Should the survey be completed on an external device? If so, you can print a QR code that can be used to start the survey.')}"
					></th:block>
					<a class="btn btn-primary"
						id="encounterLink"
						th:data-link="${fullLink}"
						th:data-uuid="${newEncounterScheduledDTO.uuid}"
						th:data-start="${localeHelper.formatDate(newEncounterScheduledDTO.startDate)}"
						th:data-period="${messages.getPeriodLabel(#locale, newEncounterScheduledDTO.encounterScheduledSerialType, newEncounterScheduledDTO.repeatPeriod)}"
						th:data-end="${localeHelper.formatDate(newEncounterScheduledDTO.endDate)}"
						th:with="link=@{/mobile/survey/encounter(hash=${newEncounterScheduledDTO.uuid})},
								fullLink=${requestURL.replace('/encounter/list', '') + link}"
						onclick="printEncounterInfo(this)"
						th:text="${messages.get(#locale, 'encounterScheduled.label.printQrCode', 'Print QR-Code')}"
					>
					</a>
			</div>
		</th:block>
		<th:block th:if="${failure != null}">
			<div
				class="alert alert-danger"
				id="notification"
				th:text="${failure}"
			>
			</div>
		</th:block>
		<ul
			class="nav nav-tabs"
			id="encounterTabs"
			role="tablist"
			style="margin-top: 2px"
		>
			<li
				class="nav-item"
				role="presentation"
			>
				<button
					aria-controls="profile"
					aria-selected="true"
					class="nav-link active"
					data-bs-target="#encounterTab"
					data-bs-toggle="tab"
					id="encounter-tablink"
					role="tab"
					th:text="${messages.get(#locale, 'encounter.label.encounters', 'All Encounters')}"
				>
				</button>
			</li>
			<li class="nav-item">
				<button
					aria-controls="profile"
					aria-selected="true"
					class="nav-link"
					data-bs-target="#encounterScheduledTab"
					data-bs-toggle="tab"
					id="encounterScheduled-tablink"
					role="tab"
					th:text="${messages.get(#locale, 'encounterScheduled.label.encounterScheduledAll', 'All scheduled encounters')}"
				>
				</button>
			</li>
		</ul>
		<div class="tab-content">
			<div
				aria-labelledby="encounter-tablink"
				class="tab-pane fade show active"
				id="encounterTab"
				role="tabpanel"
			>
				<div 
					class="d-flex flex-column align-items-center justify-content-center vh-50"
					id="loadingContainer"
				>
					<div 
						class="spinner-border" 
						id="loadingSpinner" 
						role="status" 
					>
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div class="table-responsive">
					<table
						class="table table-hover responsive"
						id="encounterTable"
						style="width: 100%; display: none"
					>
						<!--/* CAVE: You are displaying patient details. Each patient attribute that is displayed to the user needs to be entered into the audit log. */-->
						<!--/* So: If you change this, please update the audit log call in EncounterController.listEncounter! */-->
						<thead>
							<tr>
								<th
									data-priority="1"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.caseNumber', 'Case number')}"
								></th>
								<th
									data-priority="3"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.bundle', 'Bundle')}"
								></th>
								<th
									data-priority="4"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.startDate', 'Start Date')}"
								></th>
								<th
									data-priority="5"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.endDate', 'End Date')}"
								></th>
								<th
									data-priority="6"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.export', 'Export')}"
								></th>
								<th
									class="actionColumn"
									data-priority="2"
									th:text="${messages.get(#locale, 'admin.table.actions', 'Actions')}"
								></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${not #lists.isEmpty(allEncounters)}">
								<th:block th:each="item: ${allEncounters}">
									<tr style="text-align: center">
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.caseNumber)}"
												th:text="${item.caseNumber}"
											>
											</th:block>
										</td>
										<td>
											<th:block th:if="${item.bundleDTO != null}">
												<th:block sec:authorize="hasRole('ROLE_ADMIN')">
													<a
														class="link"
														th:href="@{/bundle/fill?id=__${item.bundleDTO.id}__}"
														th:text="${item.bundleDTO.name}"
													></a>
												</th:block>
												<th:block
													sec:authorize="hasRole('ROLE_ENCOUNTERMANAGER') and not hasRole('ROLE_ADMIN')"
												>
													<a th:text="${item.bundleDTO.name}"></a>
												</th:block>
											</th:block>
										</td>
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.startTime)}"
												th:text="${localeHelper.formatDateTime(item.startTime)}"
											>
											</th:block>
										</td>
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.endTime)}"
												th:text="${localeHelper.formatDateTime(item.endTime)}"
											>
											</th:block>
										</td>
										<td th:text="${item.successfullExports}"></td>
										<td class="actionColumn">
                                            <div class="btn-group" role="group">
                                                <a
                                                    class="btn btn-sm btn-primary-list link"
                                                    th:href="|show?id=${item.id}|"
                                                >
                                                    <i
                                                        class="bi-eye-fill bi-list-icon"
                                                        th:title="${messages.get(#locale, 'encounter.export.show', 'Show exports')}"
                                                    >
                                                    </i>
                                                </a>
                                            </div>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="panel-body">
					<a
						class="btn btn-primary"
						id="executeEncounter"
						th:href="@{/mobile/survey/index}"
						th:text="${messages.get(#locale, 'admin.navigation.executeSurvey', 'Execute survey')}"
					>
					</a>
				</div>
			</div>
			<div
				aria-labelledby="encounterScheduled-tablink"
				class="tab-pane fade"
				id="encounterScheduledTab"
			>
				<div 
					class="d-flex flex-column align-items-center justify-content-center vh-50"
					id="loadingContainerScheduled"
				>
					<div 
						class="spinner-border" 
						id="loadingSpinnerScheduled" 
						role="status" 
					>
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div class="table-responsive">
					<table
						class="table table-hover responsive"
						id="encounterScheduled"
						style="width: 100%"
					>
						<!--/* CAVE: You are displaying patient details. Each patient attribute that is displayed to the user needs to be entered into the audit log. */-->
						<!--/* So: If you change this, please update the audit log call in EncounterController.listEncounter! */-->
						<thead>
							<tr style="text-align: center">
								<th style="text-align: center"></th>
								<th
									data-priority="1"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.caseNumber', 'Case number')}"
								></th>
								<th
									data-priority="5"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.bundle', 'Bundle')}"
								></th>
								<th
									data-priority="6"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.startDate', 'Startdate')}"
								></th>
								<th
									data-priority="4"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounter.label.endDate', 'Enddate')}"
								></th>
								<th
									data-priority="7"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounterScheduled.label.email', 'EMail')}"
								></th>
								<th
									data-priority="8"
									style="text-align: center"
									th:text="${messages.get(#locale, 'encounterScheduled.label.encounterScheduledSerialType', 'EncounterScheduledSerialType')}"
								></th>
								<th
									class="actionColumn"
									data-priority="2"
									th:text="${messages.get(#locale, 'admin.table.actions', 'Actions')}"
								></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${not #lists.isEmpty(allEncounterScheduled)}">
								<th:block th:each="item: ${allEncounterScheduled}">
									<tr style="text-align: center">
										<th:block
											th:if="${item.encounterDTOs == null || #lists.isEmpty(item.encounterDTOs)}"
										>
											<td th:id="${item.id}"></td>
										</th:block>
										<th:block
											th:if="${item.encounterDTOs == null || not #lists.isEmpty(item.encounterDTOs)}"
										>
											<td
												class="toggle"
												th:id="${item.id}"
											>
												<i
													class="bi bi-plus-lg bi-list-icon"
													style="cursor: pointer"
												></i>
											</td>
										</th:block>
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.caseNumber)}"
												th:text="${item.caseNumber}"
											>
											</th:block>
										</td>
										<td>
											<th:block th:if="${item.bundleDTO != null}">
												<th:block sec:authorize="hasRole('ROLE_ADMIN')">
													<a
														class="link"
														th:href="@{/bundle/fill?id=__${item.bundleDTO.id}__}"
														th:text="${item.bundleDTO.name}"
													></a>
												</th:block>
												<th:block
													sec:authorize="hasRole('ROLE_ENCOUNTERMANAGER') and not hasRole('ROLE_ADMIN')"
												>
													<a th:text="${item.bundleDTO.name}"></a>
												</th:block>
											</th:block>
										</td>
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.startDate)}"
												th:text="${localeHelper.formatDate(item.startDate)}"
											>
											</th:block>
										</td>
										<td>
											<th:block
												th:if="${item.encounterScheduledSerialType != 'UNIQUELY' && not #strings.isEmpty(item.endDate)}"
											>
												<th:block th:text="${localeHelper.formatDate(item.endDate)}" />
											</th:block>
											<th:block
												th:if="${item.encounterScheduledSerialType == 'UNIQUELY'}"
											>
												-
											</th:block>
										</td>
										<td>
											<th:block th:if="${not #strings.isEmpty(item.email)}">
												<th:block
													th:with="
													case1=${#bools.isTrue(item.mailStatus == 'ADDRESS_REJECTED')},
                                                    case2=${
														#bools.isTrue(
															item.mailStatus == 'DEACTIVATED_PATIENT' ||
															item.mailStatus == 'INTERRUPTED'
														)
													}"
												>
													<th:block th:if="${case1}">
														<span
															class="data-email"
															data-bs-toggle="modal"
															style="color: red; cursor: pointer"
															th:href="|#${item.id}_emailForm|"
															th:text="${item.email}"
															th:title="${messages.get(#locale, 'encounterScheduled.label.changeEmail', 'Change email address')}"
														>
														</span>
													</th:block>
													<th:block th:if="${case2}">
														<span th:text="${item.email}"></span>
													</th:block>
													<th:block th:if="${not case1 && not case2}">
														<span
															class="data-email"
															data-bs-toggle="modal"
															style="cursor: pointer"
															th:href="|#${item.id}_emailForm|"
															th:text="${item.email}"
															th:title="${messages.get(#locale, 'encounterScheduled.label.changeEmail', 'Change email address')}"
														></span>
													</th:block>
												</th:block>
												<div
													aria-hidden="true"
													class="modal fade"
													data-backdrop="static"
													data-keyboard="false"
													tabindex="-1"
													th:aria-labelledby="|${item.id}_emailFormLabel|"
													th:id="|${item.id}_emailForm|"
												>
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5
																	class="modal-title"
																	th:id="|${item.id}_emailFormLabel|"
																	th:text="|${messages.get(#locale, 'encounterScheduled.label.changeEmail', 'Edit email')}: ${item.email}|"
																></h5>
																<button 
																	aria-hidden="true"
																	class="btn-close" 
																	data-bs-dismiss="modal" 
																	type="button"
																></button>
															</div>
															<div class="modal-body">
																<form
																	action="editEmail"
																	enctype="application/x-www-form-urlencoded"
																	method="POST"
																>
																	<div class="form-group">
																		<label
																			for="email"
																			th:text="${messages.get(#locale, 'encounterScheduled.label.newEmail', 'New email address')}"
																		></label>
																		<input
																			class="form-control"
																			id="email"
																			name="email"
																			onchange="validateEmail(this)"
																			th:placeholder="${item.email}"
																			type="text"
																			value=""
																		/>
																		<input
																			class="form-control"
																			hidden="true"
																			id="encounterScheduledId"
																			name="encounterScheduledId"
																			th:value=${item.id}
																			type="text"
																		/>
																		<span
																			class="d-none"
																			style="color: red;"
																			th:id="|${item.id}_invalid-mail-error|"
																			th:text="${messages.get(#locale, 'encounterScheduled.error.invalidMail', 'Invalid email address')}"
																		></span>
																	</div>
																	<div class="d-flex justify-content-end submitDiv">
																		<button 
																			class="btn btn-primary"
																			disabled="disabled"
																			th:text="${messages.get(#locale, 'encounterScheduled.label.changeEmail', 'Edit email')}"
																			type="submit"
																		></button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</th:block>
										</td>
										<td>
											<th:block
												th:if="${not #strings.isEmpty(item.encounterScheduledSerialType)}"
											>
												<th:block
													th:text="${messages.getPeriodLabel(#locale, item.encounterScheduledSerialType, item.repeatPeriod)}"
												></th:block>
											</th:block>
										</td>
										<td class="actionColumn">
											<div class="d-none d-xl-block">
                                                <div class="btn-group" role="group">
													<a class="btn btn-sm btn-primary-list link"
														th:classappend="${item.mailStatus.name() != 'INTERRUPTED' ? '' : 'btn-crossed'}"
														th:data-link="${fullLink}"
														th:data-uuid="${item.uuid}"
														th:data-start="${localeHelper.formatDate(item.startDate)}"
														th:data-period="${messages.getPeriodLabel(#locale, item.encounterScheduledSerialType, item.repeatPeriod)}"
														th:data-end="${localeHelper.formatDate(item.endDate)}"
														th:with="link=@{/mobile/survey/encounter(hash=${item.uuid})},
                                    							fullLink=${requestURL.replace('/encounter/list', '') + link}"
														onclick="printEncounterInfo(this)"
													>
															<i
																class="bi-qr-code-scan bi-list-icon"
																th:title="${messages.get(#locale, 'encounterScheduled.button.print', 'Print encounter information')}">
															</i>	
													</a>
                                                    <th:block th:switch="${item.mailStatus.name()}">
                                                        <th:block th:case="'ACTIVE'">
                                                            <a
                                                                class="btn btn-sm btn-primary-list link"
                                                                th:href="|toggleMailStatus?id=${item.id}|"
                                                            >
                                                                <i
                                                                    class="bi-envelope-slash-fill bi-list-icon"
                                                                    th:title="${messages.get(#locale, 'encounterScheduled.button.deactivateMailStatus', 'Deactivate remind mails')}"
                                                                >
                                                                </i>
                                                            </a>
                                                        </th:block>
                                                        <th:block th:case="'ADDRESS_REJECTED'">
                                                            <i
                                                                class="bi-exclamation-triangle-fill bi-list-icon"
                                                                onclick="editEmail($(this).parents('tr').find('.data-email'))"
                                                                style="cursor: pointer"
                                                                th:title="${messages.get(#locale, 'encounterScheduled.button.addressRejected', 'Deactivate remind mails')}"
                                                            >
                                                            </i>
                                                        </th:block>
                                                        <th:block th:case="'CONSENT_PENDING'">
                                                            <i
                                                                class="bi-clock-fill bi-list-icon"
                                                                th:title="${messages.get(#locale, 'encounterScheduled.button.consentPending', 'Waiting for the patient's agreement')}"
                                                            >
                                                            </i>
                                                        </th:block>
                                                        <th:block th:case="'DEACTIVATED_ENCOUNTER_MANAGER'">
                                                            <a
                                                                class="btn btn-sm btn-primary-list link"
                                                                th:href="|toggleMailStatus?id=${item.id}|"
                                                            >
                                                                <i
                                                                    class="bi-envelope-check-fill bi-list-icon"
                                                                    th:title="${messages.get(#locale, 'encounterScheduled.button.reactivate', 'Reactivate remind mails')}"
                                                                >
                                                                </i>
                                                            </a>
                                                        </th:block>
                                                        <th:block th:case="'DEACTIVATED_PATIENT'">
                                                            <a
                                                                class="btn btn-sm btn-primary-list reactivationLink link"
                                                                th:href="|toggleMailStatus?id=${item.id}|"
                                                            >
                                                                <i
                                                                    class="bi-send-fill bi-list-icon"
                                                                    th:title="${messages.get(#locale, 'encounterScheduled.button.reactivatePatient', 'Send mail to patient and let him reactivate remind mails')}"
                                                                >
                                                                </i>
                                                            </a>
                                                        </th:block>
                                                        <th:block th:case="'INTERRUPTED'">
															<a
																aria-disabled="true"
																class="btn btn-sm btn-primary-list reactivationLink link btn-crossed btn-yellow"
															>
																<i
																	class="bi-exclamation-circle-fill bi-list-icon"
																	th:title="${messages.get(#locale, 'encounterScheduled.button.interrupted', 'This scheduled encounter has been interrupted')}"
																>
																</i>
															</a>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${item.mailStatus.name != 'INTERRUPTED'}">
                                                        <th:block
                                                            th:if="${item.encounterDTOs != null and not #lists.isEmpty(item.encounterDTOs)}"
                                                        >
                                                            <a
                                                                class="btn btn-sm btn-primary-list interruptLink link btn-red"
                                                                th:href="|interrupt?encounterScheduledId=${item.id}|"
                                                            >
                                                                <i
                                                                    class="bi-x-circle-fill bi-list-icon"
                                                                    th:title="${messages.get(#locale, 'encounterScheduled.button.abort', 'Abort this scheduled encounter')}"
                                                                >
                                                                </i>
                                                            </a>
                                                        </th:block>
                                                        <th:block
                                                            th:unless="${item.encounterDTOs != null and not #lists.isEmpty(item.encounterDTOs)}"
                                                        >
                                                            <a
																class="btn btn-sm btn-primary-list link btn-red"
                                                                th:href="|remove?encounterScheduledId=${item.id}|"
                                                                th:id="'removeScheduleEncounter_' + ${item.id}"
                                                            >
                                                                <i
                                                                    class="bi-trash-fill bi-list-icon"
                                                                    th:title="${messages.get(#locale, 'encounterScheduled.button.remove', 'Remove this scheduled encounter')}"
                                                                >
                                                                </i>
                                                            </a>
                                                        </th:block>
                                                    </th:block>
                                                </div>
											</div>
											<!--/*Action dropdown for smaller resolutions*/-->
											<div class="d-block d-xl-none">
												<a
													class="link"
													data-bs-toggle="offcanvas"
													th:href="|#${item.id}_offcanvas|"
												>
													<i
														class="bi bi-three-dots"
														style="font-size: 1.5rem"
													></i>
												</a>
												<th:block
													layout:insert="~{fragments/structures :: mobileOptionsMenu(itemName=|${item.caseNumber}: ${item.email}|, id=|${item.id}_offcanvas|)}"
												>
													<th:block layout:fragment="optionsContent">
														<a class="link"
															th:if="${item.mailStatus.name() != 'INTERRUPTED'}"
															th:data-link="${fullLink}"
															th:data-uuid="${item.uuid}"
															th:data-start="${localeHelper.formatDate(item.startDate)}"
															th:data-period="${messages.getPeriodLabel(#locale, item.encounterScheduledSerialType, item.repeatPeriod)}"
															th:data-end="${localeHelper.formatDate(item.endDate)}"
															th:with="link=@{/mobile/survey/encounter(hash=${item.uuid})},
																	fullLink=${requestURL.replace('/encounter/list', '') + link}"
															onclick="printEncounterInfo(this)"
															th:text="${messages.get(#locale, 'encounterScheduled.label.printQrCode', 'Print QR-Code')}"
														>
														</a>
														<th:block th:switch="${item.mailStatus}">
															<a
																class="link"
																th:case="'ACTIVE'"
																th:href="|toggleMailStatus?id=${item.id}|"
																th:text="${messages.get(#locale, 'encounterScheduled.button.deactivateMailStatus', 'Deactivate remind mails')}"
															>
															</a>
															<a
																class="link"
																onclick=""
																style="cursor: pointer"
																th:case="'ADDRESS_REJECTED'"
																th:text="${messages.get(#locale, 'encounterScheduled.button.addressRejected', 'Deactivate remind mails')}"
															>
															</a>
															<a th:case="'CONSENT_PENDING'">
																<span
																	class="link"
																	th:text="${messages.get(#locale, 'encounterScheduled.button.consentPending', 'Waiting for the patient's agreement')}"
																></span>
															</a>
															<a
																class="link"
																th:case="'DEACTIVATED_ENCOUNTER_MANAGER'"
																th:href="|toggleMailStatus?id=${item.id}|"
																th:text="${messages.get(#locale, 'encounterScheduled.button.reactivate', 'Reactivate remind mails')}"
															>
															</a>
															<a
																class="reactivationLink link"
																th:case="'DEACTIVATED_PATIENT'"
																th:href="|toggleMailStatus?id=${item.id}|"
																th:text="${messages.get(#locale, 'encounterScheduled.button.reactivatePatient', 'Send mail to patient and let him reactivate remind mails')}"
															>
															</a>
															<a th:case="'INTERRUPTED'">
																<span
																	th:text="${messages.get(#locale, 'encounterScheduled.button.interrupted', 'This scheduled encounter has been interrupted')}"
																></span>
															</a>
															<th:block
																th:if="${item.mailStatus != 'INTERRUPTED'}"
															>
																<a
																	class="interruptLink link"
																	th:href="|interrupt?encounterScheduledId=${item.id}|"
																	th:if="${item.encounterDTOs != null and not #lists.isEmpty(item.encounterDTOs)}"
																	th:text="${messages.get(#locale, 'encounterScheduled.button.abort', 'Abort this scheduled encounter')}"
																>
																</a>
																<a
																	class="dropdown-item link"
																	th:href="|remove?encounterScheduledId=${item.id}|"
																	th:text="${messages.get(#locale, 'encounterScheduled.button.remove', 'Remove this scheduled encounter')}"
																	th:unless="${item.encounterDTOs != null and not #lists.isEmpty(item.encounterDTOs)}"
																>
																</a>
															</th:block>
														</th:block>
													</th:block>
												</th:block>
											</div>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="panel-body">
					<a
						class="btn btn-primary"
						href="schedule"
						id="scheduleEncounter"
						th:text="${messages.get(#locale, 'admin.navigation.scheduleSurvey', 'Schedule survey')}"
					>
					</a>
				</div>
			</div>
		</div>

		<div id="printSection" style="display: none;">
			<div class="flyer">
				<div class="flyer-header">
		
					<div class="flyer-logo">
						<img alt="Logo" src="/images/logo.svg" />
					</div>
		
					<div class="flyer-title"
						th:text="${messages.get(#locale, 'encounterScheduled.label.print.heading', 'Please participate in the survey online')}"	
					></div>
		
				</div>
		
				<div class="flyer-text"
					th:utext="${messages.get(#locale, 'encounter.scheduled.infoText', 'Please scan this code:')}"></div>
		
				<div>
					<div class="flyer-qr-wrapper">
						<div id="printBarcodeContainer"></div>
					</div>
					<div id="textContainer">
						<div class="grid">
							<div id="startContainer"></div>
							<div id="periodContainer"></div>
							<div id="endContainer"></div>
						</div>
					</div>
				</div>
		
				<div class="flyer-link" id="printLinkText"></div>
		
				<div class="flyer-instructions">
					<b th:text="${messages.get(#locale, 'encounter.scheduled.surveyInformation', 'Survey Information')}"></b>
					<th:block
						th:utext="${messages.get(#locale, 'encounterScheduled.label.print.informationSection', '&lt;ol&gt;&lt;li&gt;Scan the QR code&lt;/li&gt;&lt;li&gt;Start the survey&lt;/li&gt;&lt;li&gt;Answer all required questions. Please follow the instructions regarding the completeness of your answers&lt;/li&gt;&lt;li&gt;When finished, submit your responses by clicking “End Survey.” Please wait for confirmation that your responses have been successfully submitted.&lt;/li&gt;&lt;/ol&gt;')}"
					></th:block>
				</div>
		
				<div class="flyer-footer"
					th:text="${messages.get(#locale, 'encounterScheduled.label.print.thanks', 'Thank you for your support.')}"	
				>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

<th:block layout:fragment="scriptContainer">
	<script
		th:inline="javascript"
		type="text/javascript"
	>
		var strings = new Array();
		strings["encounter.label.endDate"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.endDate', 'Enddate')}]]*/ "Enddate";
		strings["encounter.label.startDate"] =
			/*[[${messages.get(#locale, 'encounter.label.startDate', 'Startdate')}]]*/ "Startdate";
		strings["encounterScheduled.label.encounterScheduledSerialType"] = 
			/*[[${messages.get(#locale, 'encounterScheduled.label.encounterScheduledSerialType', 'EncounterScheduledSerialType')}]]*/ 'Encounter Type'; 
		strings["encounter.label.export"] =
			/*[[${messages.get(#locale, 'encounter.label.export', 'Export')}]]*/ "";
		strings["encounter.label.lastReminderDate"] =
			/*[[${messages.get(#locale, 'encounter.label.lastReminderDate', 'Last reminder date on')}]]*/ "Last reminder date on";
		strings["encounterScheduled.label.assignedEncounters"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.assignedEncounters', 'Assigned Encounters')}]]*/ "Assigned Encounters";
		strings["encounterScheduled.label.bundle"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.bundle', 'Bundle')}]]*/ "Bundle";
		strings["admin.table.actions"] =
			/*[[${messages.get(#locale, 'admin.table.actions', 'Actions')}]]*/ "Actions";
		strings["encounterScheduled.label.cancelEncounterDialog"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.cancelEncounterDialog', 'Do you really want to cancel scheduled encounter?')}]]*/ "Do you really want to cancel scheduled encounter?";
		strings["encounterScheduled.label.sendMail"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.sendMail', 'Do you really want to send a remind mail?')}]]*/ "Do you really want to send a remind mail?";
		strings["encounterScheduled.label.reactivationDialog"] =
			/*[[${messages.get(#locale, 'encounterScheduled.label.reactivationDialog', 'Are you sure to send a reactivation link?')}]]*/ "Are you sure to send a reactivation link?";
		strings["button.save"] =
			/*[[${messages.get(#locale, 'button.save', 'Save')}]]*/ "Save";
		strings["button.cancel"] =
			/*[[${messages.get(#locale, 'button.cancel', 'Cancel')}]]*/ "Cancel";


		var encounterScheduledDTOs = /*[[${encounterScheduledDTOs}]]*/ "";
		var currentLanguage = /*[[${#locale.toString()}]]*/ "en_GB";
		var datePattern = "";
		var timePattern = "HH:mm:ss";

		var dateTimeFormatter; 

		switch (currentLanguage) {
			case "de_DE":
				dateTimeFormatter = new Intl.DateTimeFormat('de-DE', {
					dateStyle: 'full',
					timeStyle: 'short',
				});
				break;
			case "en_GB":
			case "en_US":
				dateTimeFormatter = new Intl.DateTimeFormat('en-GB', {
					dateStyle: 'full',
					timeStyle: 'short',
				});
				break;
		}

		$(document).ready(function () {

			$('#encounterTable').DataTable({
				"deferRender": true,
				"paging": true,
				"ordering": true,
				"columnDefs": [
					{ 
						orderable: false, 
						targets: [5] 
					},
					{ 
						type: 'custom-date',
						targets: [2,3]
					}
				],
				"initComplete": function(settings, json) {
					$('#loadingSpinner').fadeOut(); // Hide the loading indicator
					$('#loadingContainer').addClass("d-none")
					$('#encounterTable').fadeIn(); // Show the table
				}
			}).column(2).order('desc').draw();

			$('#encounterScheduled').DataTable({
				"deferRender": true,
				"paging": true,
				"ordering": true,
				"columnDefs": [
					{ 
						orderable: false, 
						targets: [0,7] 
					},
					{ 
						type: 'custom-date',
						targets: [3,4]
					}
				],
				"initComplete": function(settings, json) {
					$('#loadingSpinnerScheduled').fadeOut(); // Hide the loading indicator
					$('#loadingContainerScheduled').addClass("d-none")
					$('#encounterScheduled').fadeIn(); // Show the table
				}
			}).column(3).order('desc').draw();

			$(".interruptLink").click(function (e) {
				if (
					confirm(strings["encounterScheduled.label.cancelEncounterDialog"])
				) {
					return true;
				} else {
					e.preventDefault();
					return false;
				}
			});

			$(".reactivationLink").click(function (e) {
				if (confirm(strings["encounterScheduled.label.reactivationDialog"])) {
					return true;
				} else {
					e.preventDefault();
					return false;
				}
			});
        });

		/*[- Reset the colspan of the empty row of the tables, because the tabs reset colspan to zero. -]*/
		function tabChange() {
			$("table .dataTables_empty").attr("colspan", 6);
			$("#encounterScheduled .dataTables_empty").attr("colspan", 8);
		}

		/*[-
        * Creates a new row for a encounterScheduled to show all encounters 
        * of the given encounterScheduled.
        * 
        * @param {type} 'click' Event that triggers this function.
        * @param {type} 'td.toggle' DOM-elements which got the action
        * @param {type} function() action to do, if the dom element is clicked.
        -]*/
		$("#encounterScheduled tbody").on("click", "td.toggle", function () {
			var tr = $(this).closest("tr");
			var row = $("#encounterScheduled").DataTable().row(tr);

			if (row.child.isShown()) {
				/*[- This row is already open - close it -]*/
				row.child.hide();
				tr.removeClass("shown");
				switchClass($(this).find("span"), "bi-dash-lg", "bi-plus-lg")
			} else {
				/*[- Open this row -]*/
				row.child(format(tr.children().first().attr("id"))).show();
				tr.addClass("shown");
				switchClass($(this).find("span"), "bi-plus-lg", "bi-dash-lg")
			}

			$(".reminderLink").click(function (e) {
				if (confirm(strings["encounterScheduled.label.sendMail"])) {
					return true;
				} else {
					e.preventDefault();
					return false;
				}
			});
		});

		function switchClass(element, class1, class2) {
			$(element).removeClass(class1);
			$(element).addClass(class2); 
		}

		/*[-
        * Formats the new row with all encounters that belong to a given encounterScheduled.
        * 
        * @param {type} id of the given encounterScheduled object.
        * @returns {format.tableRow|$}  The new row with all needed informations to show.
        -]*/
		function format(id) {
			var tableRow = $(
				"<tr style='text-align: center'><td></td><td><b>" +
					strings["encounterScheduled.label.assignedEncounters"] +
					"</td><td>" +
					"</b></td><td class='start'><b>" +
					strings["encounter.label.startDate"] +
					"</b></td><td class='end'><b>" +
					strings["encounter.label.endDate"] +
					"</b></td><td class='export'><b>" +
					strings["encounter.label.export"] +
					"</b></td><td class='lastReminderDate'><b>" +
					strings["encounter.label.lastReminderDate"] +
					"</b></td><td class='action'><br></td></tr>"
			);

			/*[- fill arrays with data -]*/
			for (var i = 0; i < encounterScheduledDTOs.length; i++) {
				if (
					encounterScheduledDTOs[i] !== null
				) {
					var encounterObject = JSON.parse(encounterScheduledDTOs[i]);
					if (encounterObject.id === parseInt(id)) {
						var encounterScheduled = encounterObject;
						var encounters = encounterScheduled.encounterDTOs;
						for (var j = 0; j < encounters.length; j++) {
							var encounter = encounters[j];
							var mailButton = "";
							var copyButton = "";

							if (
								encounterScheduled.completed === false &&
								encounterScheduled.mailStatus === "ACTIVE" &&
								encounter.endTime === null
							) {
								mailButton =
									"<a class='btn btn-sm btn-primary-list reminderLink link' href='sendEmail?id=" +
									encounter.id +
									"'><i class='bi bi-envelope bi-list-icon' title='" +
									/*[[${messages.get(#locale, 'encounterScheduled.button.resend', 'Resend email')}]]*/ ""
									+"'></i>";
								copyButton =
									"<a class='btn btn-sm btn-primary-list copyLink link' href='' onclick='copyLinkToClipboard(this, " +
									'"' +
									encounter.uuid +
									'"' +
									", " +
									'"' +
									encounterScheduled.locale.toString() +
									'"' +
									"); return false;'><i class='bi bi-clipboard-fill bi-list-icon' title='" +
									/*[[${messages.get(#locale, 'encounterScheduled.button.copyLink', 'Copy link to clipboard')}]]*/ ""
									+"'></i>";
							}

							var startTime = "";
							var endTime = "";
							var exports = "";
							var lastReminderDate = "";

							if (encounter.startTime !== null) {
								var startDate = new Date(encounter.startTime);
								startTime = dateTimeFormatter.format(startDate); 
							}

							if (encounter.endTime !== null) {
								var endDate = new Date(encounter.endTime);
								endTime = dateTimeFormatter.format(endDate);
							}

							if (encounter.successfullExports !== null) {
								exports = encounter.successfullExports;
							}

							if (encounter.lastReminderDate !== null) {
								var lastReminder = new Date(encounter.lastReminderDate);
								lastReminderDate = dateTimeFormatter.format(lastReminder);
							}

							tableRow
								.find(".start")
								.html(
									tableRow.find(".start").html() + "<div>" + startTime + "</div>"
								);
							tableRow
								.find(".end")
								.html(
									tableRow.find(".end").html() + "<div>" + endTime + "</div>"
								);
							tableRow
								.find(".export")
								.html(
									tableRow.find(".export").html() + "<div>" + exports + "</div>"
								);
							tableRow
								.find(".lastReminderDate")
								.html(
									tableRow.find(".lastReminderDate").html() +
										"<div>" +
										lastReminderDate +
										"</div>"
								);
							tableRow
								.find(".action")
								.html(
									tableRow.find(".action").html() +
										"<div class='actionColumn' style='width: 100%; text-align: center;'>" +
										"<div class='btn-group' role='group'>" +
										mailButton +
										copyButton +
										"<a class='btn btn-sm btn-primary-list link' href='show?id=" +
										encounter.id +
										"'><i class='bi bi-eye-fill bi-list-icon' title='" +
										/*[[${messages.get(#locale, 'encounter.export.show', 'Show exports')}]]*/ ""
										+"'></i></div></div>"
								);
						}
					}
				}
			}

			return tableRow;
		}

		/*[-
        * Copies the link of the given Encounter UUID and the given locale to the clipboard
        * 
        * @param {type} trigger Trigger of this function
        * @param {String} uuid UUID of the Encounter
        * @param {String} locale Locale of the Encounter as a String
        -]*/
		async function copyLinkToClipboard(trigger, uuid, locale) {
            /*[- Fill the textarea with the right URL -]*/
            var baseUrl = /*[[${requestURL}]]*/ "";
            baseUrl = baseUrl.replace(
                "/encounter/list", ""
            );
            const url = baseUrl + "/mobile/survey/encounter?hash=" + uuid + "&lang=" + locale;

			/*[- Create a small textarea for the copytext -]*/
			const textArea = document.createElement("textarea");
			textArea.style.position = "fixed";
			textArea.style.top = 0;
			textArea.style.left = 0;
			textArea.style.width = "2em";
			textArea.style.height = "2em";
			textArea.style.padding = 0;
			textArea.style.border = "none";
			textArea.style.outline = "none";
			textArea.style.boxShadow = "none";
			textArea.style.background = "transparent";

			textArea.value = url;

			/*[- Add the textarea and select the text -]*/
			document.body.appendChild(textArea);
			textArea.select();

			/*[- Try to copy the text -]*/
            const successful = await navigator.clipboard.writeText(url)
                .then(() => true)
                .catch(() => false);

			/*[- And remove the textarea -]*/
			document.body.removeChild(textArea);

			/*[- Change the icon for 1500 ms -]*/
            const icon = $(trigger).children(".bi");
            const successClass = successful ? "bi-check-lg" : "bi-x-lg";

            switchClass(icon, "bi-clipboard-fill", successClass);

            setTimeout(function () {
                icon.removeClass("bi-check-lg bi-x-lg").addClass("bi-clipboard-fill");
            }, 1500);
		}

        async function printEncounterInfo(element) {
            const $link = $(element);
            if (!$link.length) {
                return;
            }

            const link = $link.data("link");
            const uuid = $link.data("uuid");
            if (!link || !uuid) {
                return;
            }

            const response = await fetch(`/encounter/${uuid}/qr-base64`);
            if (!response.ok) {
                return;
            }

            const base64 = await response.text();

            $("#printBarcodeContainer").html(
                `<img src="data:image/svg+xml;base64,${base64}" alt="QR Code" class="flyer-qr-image">`
            );

            $("#printLinkText").text(link);

			var start = $link.data("start");
			var period = $link.data("period");
			var end = $link.data("end");
			
			if (start) {
				$("#startContainer").html(
					"<span><b>" + strings['encounter.label.startDate'] + ":</b></span>" +
					"<span>" + $link.data("start") + "</span>"
				);
			}
			if (period) {
				$("#periodContainer").html(
					"<span><b>" + strings['encounterScheduled.label.encounterScheduledSerialType'] + ":</b></span>" +
					"<span>" + $link.data("period") + "</span>"
				);
			}
			if (end) {
				$("#endContainer").html(
					"<span><b>" + strings['encounter.label.endDate'] + ":</b></span>" +
					"<span>" + $link.data("end") + "</span>"
				);
			}

            const printContents = document.getElementById("printSection").innerHTML;
            const printWindow = window.open("", "_blank");

            printWindow.document.write(`
		<html>
			<head>
				<title>MoPat</title>
				<style>
					@page {
						size: A4;
						margin: 8mm;
					}

					body {
						font-family: Arial, sans-serif;
						background: #fff;
						margin: 0;
						padding: 0;
						color: #000;
					}

					.flyer {
						width: 180mm;
						margin: 0 auto;
						padding: 16mm 12mm;
						box-sizing: border-box;
						text-align: center;
						border: 1px solid #d9d9d9;
					}

					.flyer-header {
					    display: flex;
					    flex-direction: row;
					    max-width: 140mm;
					    align-items: center;
					    justify-content: space-between;
					    margin: 0 auto 6mm auto;
					}

					.flyer-logo img {
						max-height: 25mm;
						display: block;
						margin: 0 4mm 4mm auto;
					}

					.flyer-app-name {
						font-size: 18px;
						font-weight: bold;
						color: #0b6aa9;
					}

					.flyer-title {
                        font-size: 18pt;
                        font-weight: 800;
                        line-height: 1.1;
                        color: #0b6aa9;
                        text-transform: uppercase;
                        text-align: justify;
                        display: block;
                        margin-bottom: 6mm;
                    }

					.flyer-text {
                        font-size: 12pt;
                        line-height: 1.4;
                        max-width: 140mm;
                        margin: 0 auto 10mm auto;
                        white-space: pre-line;
                        text-align: justify;
                        display: block;
                    }

					.flyer-qr-wrapper {
						display: inline-block;
						padding: 6mm;
						border: 2px solid #7ed3ff;
						border-radius: 4mm;
						box-shadow: 0 0 10px rgba(0, 170, 255, 0.25);
						margin-bottom: 4mm;
					}

					.flyer-qr-image {
						display: block;
						width: 55mm;
						height: 55mm;
					}

					.flyer-scan-text {
						font-size: 14pt;
						font-weight: bold;
						margin-bottom: 3mm;
					}

					.flyer-link {
						font-size: 10pt;
						font-weight: bold;
						word-break: break-word;
						margin: 0 auto 10mm auto;
						margin-top: 4mm;
						max-width: 150mm;
					}

					.flyer-instructions {
						text-align: left;
						font-size: 11pt;
						line-height: 1.4;
						max-width: 140mm;
						margin: 0 auto 12mm auto;
					}

					.flyer-instructions ol {
						padding-left: 6mm;
						margin: 0;
					}

					.flyer-footer {
						border-top: 1px solid #bbb;
						padding-top: 5mm;
						font-size: 10pt;
						color: #333;
					}
				
					#textContainer {
						display: flex;
						justify-content: center;
					}

					#textContainer .grid {
						display: grid;
						grid-template-columns: auto 1fr;
						gap: 8px 16px;
						text-align: left;
					}

					#textContainer .grid > div {
						display: contents;
					}


				</style>
			</head>
			<body>
				${printContents}
			</body>
		</html>
	`);
            printWindow.document.close();

            setTimeout(function () {
                printWindow.focus();
                printWindow.print();
                printWindow.close();
            }, 300);
        }

		/*[- function to return to the last chosen tab after redirecting to this page. -]*/
		$(function () {
			/*[- for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line -]*/
			$('a[data-bs-toggle="tab"]').on("shown.bs.tab", function (e) {
				/*[- save the latest tab; use cookies if you like 'em better: -]*/
				localStorage.setItem("lastTab", $(this).attr("href"));
			});

			/*[- go to the latest tab, if it exists, or to encounter series tab, if parameter is true -]*/
			var lastTab;
			if ('${pageContext.request.getParameter("series")}' === "true") {
				lastTab = "#encounterScheduledTab";
			} else {
				lastTab = localStorage.getItem("lastTab");
			}
			if (lastTab) {
				$('[href="' + lastTab + '"]').tab("show");
			}
		});
	</script>


	<script>
		var dialog;

		/*[- function to set up the dialog box to edit email address of scheduled encounters -]*/

		function validateEmail(item) {
			var emailRegex =
				/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

			var email = $(item).val();


			if (emailRegex.test(email)) {
				$(item).parent().find("span").addClass("d-none");
				$(item).parent().parent().find("div[class*='submitDiv']").find("button").removeAttr("disabled");
			} else {
				$(item).parent().find("span").removeClass("d-none");
				$(item).parent().parent().find("div[class*='submitDiv']").find("button").attr("disabled", "disabled");

			}
		}
	</script>
</th:block>