<!--/*
    * View for MoPats survey view. Shows a bundle that should be testd  
*/-->
<th:block
    layout:decorate="~{layout/mobile}"
    th:with="contenttype='content'"
>
    <th:block layout:fragment="content">
        <form
            action="test"
            data-ajax="false"
            enctype="application/x-www-form-urlencoded"
            method="POST"
            name="survey"
        >
            <div class="d-block">
                <input
                    name="bundleId"
                    th:value="${bundle.id}"
                    type="hidden"
                />
                <input
                    name="performExportTest"
                    th:value="${performExportTest}"
                    type="hidden"
                />
                <addVar
                    layout:replace="~{helper/var :: add(
                        key='hasActiveQuestionnaire', 
                        value=true)}"
                >
                </addVar>
                <div
                    class="bundleSelect"
                    th:attr="style=${#bools.isTrue(vars['hasActiveQuestionnaire'])} ? '' : 'display:none;'"
                >
                    <div
                        id="guiLanguageWarning"
                        style="display: none; white-space: normal !important"
                        th:text="${messages.get(#locale, 'survey.bundles.warning.guiLanguageNotAvailable', 'Available Bundles')}"
                    >
                    </div>

                    <!--/* Stores the GUI language, which corresponds to the chosen bundleLanguage */-->
                    <input
                        id="guiLanguage"
                        name="guiLanguage"
                        type="hidden"
                        value=""
                    />
                    <div
                        class="mb-3"
                        data-role="fieldcontain"
                    >
                        <div
                            class="row align-items-center"
                            data-role="list-divider"
                        >
                            <label class="col-form-label">
                                <b
                                    th:text="${messages.get(#locale, 'survey.bundles.label.availableBundles', 'Available Bundles')}"
                                ></b>
                            </label>
                        </div>
                        <div class="select-wrapper w-100">
                            <select
                                class="btn select-mobile w-100"
                                disabled
                                name="bundleId"
                            >
                                <option
                                    selected
                                    th:id="${bundle.id}"
                                    th:name="bundleId"
                                    th:text="${bundle.name}"
                                    th:value="${bundle.id}"
                                >
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="bundleSelect">
                        <div
                            class="bundleLanguagesList"
                            th:id="|bundleLanguageList_${bundle.id}|"
                        >
                            <div data-role="fieldcontain">
                                <th:block
                                    th:if="${#lists.isEmpty(bundle.getAvailableLanguages())}"
                                >
                                    <div
                                        th:id="|noLanguage_${bundle.id}|"
                                        th:text="${messages.get(#locale, 'bundle.label.noLanguagesAvailable', 'No languages available')}"
                                    >
                                    </div>
                                </th:block>
                                <th:block
                                    th:unless="${#lists.isEmpty(bundle.getAvailableLanguages())}"
                                >
                                    <div
                                        class="mb-3"
                                        data-role="fieldcontain"
                                    >
                                        <div
                                            class="row align-items-center"
                                            data-role="list-divider"
                                        >
                                            <label class="col-form-label">
                                                <b
                                                    th:text="${messages.get(#locale, 'bundle.label.availableLanguages', 'Available languages')}"
                                                ></b>
                                            </label>
                                        </div>
                                        <div class="select-wrapper w-100">
                                            <select
                                                class="btn select-mobile w-100"
                                                name="bundleLanguage"
                                            >
                                                <th:block
                                                    th:if="${#lists.isEmpty(bundle.getAvailableLanguages())}"
                                                >
                                                    <option
                                                        th:id="|noLanguage_${item.id}|"
                                                        th:value="${item.id}"
                                                    >
                                                        <i class="col-1 bi bi-exclamation-diamond-fill"></i>
                                                        [[${messages.get(#locale,
                                                        'bundle.label.noLanguagesAvailable', 'No
                                                        languages
                                                        available')}]]
                                                    </option>
                                                </th:block>
                                                <th:block
                                                    th:unless="${#lists.isEmpty(bundle.getAvailableLanguages())}"
                                                >
                                                    <th:block
                                                        th:each="localeCodeTemp, index: ${bundle.getAvailableLanguages()}"
                                                    >
                                                        <addVar
                                                            layout:replace="~{helper/var :: add(
                                                            key='localeCode',
                                                            value=${localeCodeTemp})}"
                                                        >
                                                        </addVar>
                                                        <!--/* Get the localized localeTitle and the flagName for the variable localeCode */-->
                                                        <th:block
                                                            layout:insert="~{helper/localeHelper/getLocaleTitleAndFlagName}"
                                                        />
                                                        <!--/* This div contains the available languages for the bundle. It is initially hidden */-->

                                                        <option
                                                            name="bundleLanguage"
                                                            th:id="|bundleLanguage_${bundle.id}_${vars['localeCode']}|"
                                                            th:value="${vars['localeCode']}"
                                                        >
                                                            <img
                                                                height="15"
                                                                th:src="@{/images/flagicons/__${vars['flagName']}__.png}"
                                                                th:text="|&nbsp;${vars['localeTitle']}|"
                                                                th:title="${vars['localeTitle']}"
                                                            />
                                                        </option>
                                                    </th:block>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- Case Number Input Section -->
                    <div class="mb-3" th:if="${performExportTest}">
                        <div class="row align-items-center">
                            <label
                                class="col-form-label"
                                for="caseNumber"
                            >
                                <b>
                                    <th:block
                                        th:text="|${messages.get(#locale, 'survey.label.caseNumber', 'Case number')}:|"
                                    />
                                </b>
                            </label>
                            <div class="w-100">
                                <input
                                    autocapitalize="off"
                                    autocomplete="off"
                                    autocorrect="off"
                                    class="form-control"
                                    id="caseNumber"
                                    name="caseNumber"
                                    oninput="checkTestCaseNumber($(this));"
                                    spellcheck="false"
                                    th:placeholder="${messages.get(#locale, 'survey.label.caseNumber', 'Case number')}"
                                    type="text"
                                    value=""
                                />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div th:object="${encounterDTO}">
                                <error
                                    layout:replace="~{fragments/forms :: errorField(path='caseNumber')}"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <button
                                class="btn btn-mobile btn-highlight w-100"
                                data-inline="true"
                                disabled="disabled"
                                id="startSurveyButton"
                                name="action"
                                th:text="${messages.get(#locale, 'survey.bundles.button.startSurvey', 'Start questionnaires')}"
                                type="submit"
                                value="startSurvey"
                            >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </th:block>
</th:block>

<th:block layout:fragment="scriptContainer">
    <script
        th:inline="javascript"
        type="text/javascript"
    >
        $("#title").html(
            /*[[${messages.get(#locale, 'survey.title.selectBundle', 'Select bundle')}]]*/
            "Select bundle"
        );
        var bundleId = /*[[${bundle.id}]]*/ "";

        var performExportTest = /*[[${performExportTest}]]*/ false;

        /*[- Remove the help button on the bundle selection page -]*/
        $("#helpButton").remove();

        $(function() {
            document.getElementById(bundleId).click();

            if (performExportTest !== true) {
                $("#startSurveyButton").prop("disabled", false);
            } else {
                checkTestCaseNumber($("#caseNumber"));
            }
        });

        function checkTestCaseNumber(element) {
            if (element.val().length === 0) {
                $("#startSurveyButton").prop("disabled", true);
                $("#caseNumberEmptyError").hide();
            } else {
                if (element.val().match(/(\s|&nbsp;|<br>)+/) && !element.val().match(/[\w]+/)) {
                    $("#caseNumberEmptyError").show();
                    $("#startSurveyButton").prop("disabled", true);
                } else {
                    $("#caseNumberEmptyError").hide();
                    $("#startSurveyButton").prop("disabled", false);
                }
            }
        }

    </script>
</th:block>
