<!--/*
    * View to edit an existing user    
*/-->
<th:block
	layout:decorate="~{layout/main}"
	th:with="title=${messages.get(#locale, 'user.heading.editProfile', 'Change password')}"
>
	<th:block layout:fragment="content">
		<div class="panel-body">
			<form
				name="currentUser"
				th:object="${currentUser}"
				enctype="application/x-www-form-urlencoded"
				method="POST"
				action="edit"
			>
				<th:block th:if="${success ne null}">
					<div
						id="notification"
						class="alert alert-success"
						th:text="${success}"
					></div>
				</th:block>
				<input
					type="hidden"
					th:field="*{id}"
				/>

				<div class="form-group">
					<input
						layout:replace="~{fragments/forms :: inputWithLabel(
                        for='firstname', required=false, path='firstname',
                        clazz='form-control', showErrors=true,
                        text=${messages.get(#locale, 'user.label.firstname', 'Firstname:')})}"

					/>
				</div>
				<div class="form-group">
					<input
						layout:replace="~{fragments/forms :: inputWithLabel(
                        for='lastname', required=false, path='lastname',
                        clazz='form-control', showErrors=true,
                        text=${messages.get(#locale, 'user.label.lastname', 'Lastname:')})}"

					/>
				</div>
				<div class="form-group">
					<input
						layout:replace="~{fragments/forms :: inputWithLabel(
                        for='email', required=false, path='email',
                        clazz='form-control', showErrors=true,
                        text=${messages.get(#locale, 'user.label.email', 'Email:')})}"

					/>
				</div>
				<th:block th:if="${#bools.isFalse(currentUser.isLdap())}">
<!--/*
					<div class="form-group">
						<input
							layout:replace="~{fragments/forms :: plainInputWithLabel(
                            for='oldPassword', required=false, clazz='form-control',
                            type='password', id='oldPassword', name='oldPassword', 
                            text=${messages.get(#locale, 'user.label.oldPassword', 'Current password:')})}"

						/>
						<error
							layout:replace="~{fragments/forms :: errorField(path='oldPassword')}"
						/>
					</div>
					<div class="form-group">
						<input
							layout:replace="~{fragments/forms :: plainInputWithLabel(
                            for='newPassword', required=false, clazz='form-control', 
                            type='password', id='newPassword', name='newPassword',
                            text=${messages.get(#locale, 'user.label.newPassword', 'New password:')})}"

						/>
						<error
							layout:replace="~{fragments/forms :: errorField(path='newPassword')}"
						/>
					</div>
					<div class="form-group">
						<input
							layout:replace="~{fragments/forms :: plainInputWithLabel(
                            for='newPasswordApprove', required=false, clazz='form-control',
                            type='password', id='newPasswordApprove', name='newPasswordApprove',
                            text=${messages.get(#locale, 'user.label.newPasswordApprove', 'Enter new password again:')})}"

						/>
						<error
							layout:replace="~{fragments/forms :: errorField(path='passwordCheck')}"
						/>
					</div>
*/-->
				</th:block>

				<button
					type="submit"
					class="btn btn-primary"
					value="save"
					id="saveButton"
					name="action"
					th:text="${messages.get(#locale, 'button.save', 'Save')}"
				>
				</button>
			</form>
		</div>
	</th:block>
</th:block>
