<!--/*
    Thymeleaf fragment used for MoPats mobile header
*/-->
<th:block layout:fragment="header">
	<div
		class="d-none d-md-flex flex-wrap align-items-center justify-content-between px-2"
	>
		<th:block
			th:if="${#bools.isTrue(isLogin) && configurationDao?.getLogo() != null}"
		>
			<img
				id="navbar-logo"
				class="ps-2 navbar-logo me-3"
				th:attr="src= ${configurationDao?.getLogo()}"
				stlye="width:100%;"
			/>
		</th:block>
		<th:block th:unless="${#bools.isTrue(isLogin)}">
			<img
				id="navbar-logo"
				class="ps-2 navbar-logo me-3"
				th:attr="src=@{/images/logo.svg}"
				stlye="width:100%;"
			/>
		</th:block>
		<div class="mr-auto v-space">
			<select
				class="btn-lowEmphasis"
				id="localeChanger"
				onchange="changeLanguage()"
			>
				<option
					value="de_DE"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'de_DE')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.de}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.DE})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="en_GB"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'en_GB')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.en}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.GB})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="es_ES"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'es_ES')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.es}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.ES})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="fr_FR"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'fr_FR')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.fr}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.FR})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="hi_IN"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'hi_IN')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.hi}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.IN})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="it_IT"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'it_IT')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.it}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.IT})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="es_ES"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'es_ES')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.es}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.ES})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="nl_NL"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'nl_NL')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.nl}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.NL})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="no_NO"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'no_NO')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.no}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.NO})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="pl_PL"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'pl_PL')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.pl}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.PL})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="pt_PT"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'pt_PT')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.pt}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.PT})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="ru_RU"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'ru_RU')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.ru}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.RU})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="sq_AL"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'sq_AL')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.sq}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.AL})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="sv_SE"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'sv_SE')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.sv}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.SE})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="tr_TR"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'tr_TR')})]'); setTitle();"
				>
					<th:block th:text="#{localization.languageCode.tr}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.TR})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="ar"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'ar')})]'); setTitle();"
					style="display: none"
				>
					<th:block th:text="#{localization.languageCode.ar}"
						>Missing language code</th:block
					>
				</option>
				<option
					value="fa_IR"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'fa_IR')})]'); setTitle();"
					style="display: none"
				>
					<th:block th:text="#{localization.languageCode.fa}"
						>Missing language code</th:block
					>
					<th:block th:text="|(#{localization.countryCode.IR})|"
						>Missing country code</th:block
					>
				</option>
				<option
					value="dari"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'dari')})]'); setTitle();"
					style="display: none"
				>
					<th:block th:text="#{localization.languageCode.dari}"
						>Missing language code</th:block
					>
				</option>
				<option
					value="ku"
					data-ajax="true"
					th:onClick="window.location.replace('[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', 'ku')})]'); setTitle();"
					style="display: none"
				>
					<th:block th:text="#{localization.languageCode.ku}"
						>Missing language code</th:block
					>
				</option>
			</select>

			<select id="widthTmpSelect">
				<option id="widthTmpOption"></option>
			</select>

			<span class="adminsite">
				<th:block
					sec:authorize="hasRole('ROLE_ENCOUNTERMANAGER') or hasRole('ROLE_ADMIN')"
				>
					<a
						class="btn-lowEmphasis"
						data-ajax="false"
						th:href="@{/admin/index}"
					>
						<th:block
							th:text="${messages.get(#locale, 'survey.check.button.administration', 'Administration')}"
						/>
					</a>
				</th:block>
			</span>
		</div>

		<div class="d-none d-md-block ms-auto pe-2 v-space">
			<th:block sec:authorize="isFullyAuthenticated()">
				<th:block th:if="${hideProfile == false}">
					<a
						class="btn-lowEmphasis"
						data-ajax="true"
						id="editProfile"
						onclick="initUser();"
						th:href="@{/mobile/user/edit?returnPage=} + ${servletPath.replaceAll('/WEB-INF', '').replaceAll('.jsp', '')}"
					>
						<i class="bi bi-gear-fill"></i>
						<span class="align-self-center"
							><th:block sec:authentication="principal.username"
						/></span>
					</a>
				</th:block>
				<th:block th:unless="${hideProfile == false}">
					<a
						class="btn-lowEmphasis"
						href=""
					>
						<th:block sec:authentication="principal.username" />
					</a>
				</th:block>

				<a
					class="btn-lowEmphasis"
					data-ajax="true"
					onclick="initLogin();"
					th:href="|@{/mobile/user/login}?lang=${configurationDao.defaultLanguage.toString()}|"
				>
					<i class="bi bi-box-arrow-right"></i>
				</a>
			</th:block>
		</div>
	</div>

	<div
		class="col-12 d-flex align-items-center d-md-none py-2 px-2 border-bottom"
		th:classappend="${#bools.isTrue(isLogin)} ? 'header login-header' : ''"
	>
		<th:block
			layout:insert="~{navigation/mobileNavigation :: mobileNavigation}"
		></th:block>
	</div>

	<!--/*<div class="d-flex py-1 titleHeader" th:classappend="${#bools.isTrue(isLogin)} ? 'header login-header' : ''">
        <th:block sec:authorize="isFullyAuthenticated()">
            <div role="heading">
                <b id="title" class="titleContent"></b>
            </div>
        </th:block>
    </div> */-->
</th:block>

<th:block layout:fragment="headerScriptContainer">
	<script
		th:inline="javascript"
		type="text/javascript"
	>
		var currentLanguage;

		function changeLanguage() {
			/*[- Get the choosen language from the dropdown -]*/
			var lang = $("#localeChanger option:selected").val();
			/*[- Add the parameters to the URL -]*/
			window.location.replace(
				"[(${requestURI})][(${parameterHelper.thReplaceParam(queryString, 'lang', '" +
					lang +
					"')})]"
			);
			/*[- Set the title -]*/
			setTitle();
		}

		$(document).ready(function () {
			/*[- Get the current used language -]*/
			currentLanguage = /*[[${#locale.toString()}]]*/ "en_GB";

			/*[- If there is no current used language, use the default language of the application -]*/
			if (currentLanguage === "undefined" || !currentLanguage) {
				currentLanguage =
					/*[[${configurationDao.defaultLanguage?.toString()}]]*/ "en_GB";
			}
			/*[- Set the language dropdown to the current language (application default or current used language) -]*/
			/*[- by getting the option which describes the language and set it to selected. Refresh the element after that. -]*/
			$("#localeChanger").val(currentLanguage);

			/*[- Trick to adjust select width to the currently selected text -]*/
			$("#widthTmpOption").html($("#localeChanger option:selected").text());
			$("#localeChanger").width($("#widthTmpSelect").width());
			/*[- Remove element from dom after changing sizes -]*/
			$("#widthTmpSelect").remove();
		});
	</script>
</th:block>
