<th:block layout:fragment="adminJS">
    <script defer th:src="@{/js/helper/dialog.js?version=3.0}"></script>
    <script defer th:src="@{/js/helper/dragNDropList.js?version=3.0}"></script>
    <script defer th:src="@{/js/helper/image.js?version=3.0}"></script>
    <script defer th:src="@{/js/application.js?version=3.0}"></script>
    <script defer th:src="@{/js/helper/localization.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/helper/pseudonymization.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/answer.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/bundle.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/bundleQuestionnaire.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/question.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/questionnaire.js?version=3.0}"></script>
    <script defer th:src="@{/js/mobile/survey/model/condition.js?version=3.0}"></script>
</th:block>

<th:block layout:fragment="adminCSS">
    <link rel="stylesheet" th:href="@{/css/admin/dataTables.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/elements.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/error.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/footer.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/header.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/layout.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/mapping.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/admin/iconpicker.css?version=3.0}" />
</th:block>

<th:block layout:fragment="mobileCSS">
    <link rel="stylesheet" th:href="@{/css/mobile/layout.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/mobile/style.css?version=3.0}" />
    <link rel="stylesheet" th:href="@{/css/mobile/survey.css?version=3.0}" />
</th:block>

<th:block layout:fragment="mobileJS">
    <script th:src="@{/js/mobile/helper/login.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/user.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/footer.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/pseudonymization.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/survey/mobileApplication.js?version=3.0}"></script>

    <script th:src="@{/js/mobile/survey/selectBundle.js?version=3.0}"></script>

    <script th:src="@{/js/mobile/survey/helpMode.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/survey/questionStyleEnhancer.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/survey.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/navigation.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/selector.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/encounter.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/bundle.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/questionnaire.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/bundleQuestionnaire.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/question.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/answer.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/condition.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/configuration.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/response.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/survey/model/pointOnImage.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/survey/stepsizeRounding.js?version=3.0}"></script>
    <script th:src="@{/js/mobile/helper/selector/freeTextCleaner.js?version=3.0}"></script>
</th:block>